@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Unica+One);

/* reset */

body { margin: initial; }

a {
  color: inherit;
  text-decoration: none;
}

img { vertical-align: top; }

/* core */

html {
  color: #222;
  font: 100%/1 'Playfair Display', Georgia, serif;
  -webkit-font-smoothing: antialiased;
}

body { text-align: center; }

a:focus,
a:hover { text-decoration: underline; }